# Environment
.env
.env.local
.env.*.local
client/webhooks.json

# Dependencies
node_modules/
server/node_modules/
client/node_modules/
target/node_modules/

# Logs
*.log
npm-debug.log*

# Database
data/

# OS
.DS_Store
Thumbs.db


# AI
.claude/*